<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
       default-lazy-init="true">

	<description>datasource</description>
	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"><value>${jdbc.driverClassName}</value></property>
		<property name="url"><value>${jdbc.url}</value></property>
		<property name="username"><value>${jdbc.username}</value></property>
		<property name="password"><value>${jdbc.password}</value></property>
	</bean>
	<!--
	<bean id="dataSource" class="org.logicalcobwebs.proxool.ProxoolDataSource" lazy-init="false">
		<property name="driver"><value>${jdbc.driverClassName}</value></property>
		<property name="driverUrl"><value>${jdbc.url}</value></property>
		<property name="user"><value>${jdbc.username}</value></property>
		<property name="password"><value>${jdbc.password}</value></property>
		<property name="houseKeepingSleepTime"><value>90000</value></property>
		<property name="prototypeCount"><value>1</value></property>
		<property name="maximumConnectionCount"><value>30</value></property>
		<property name="minimumConnectionCount"><value>4</value></property>
		<property name="trace"><value>true</value></property>
		<property name="verbose"><value>true</value></property>
		<property name="delegateProperties">
       	 	<value>user=${jdbc.username},password=${jdbc.password}</value>
        </property>
	</bean>-->
	
 <!--
  <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">   
        <property name="driverClass"  value="${jdbc.driverClassName}" />   
        <property name="jdbcUrl" value="${jdbc.url}" />
        <property name="properties">   
        <props>   
            	<prop key="c3p0.acquire_increment">2</prop>
                <prop key="c3p0.idle_test_period">200</prop>
                <prop key="c3p0.timeout">1000</prop>
                <prop key="c3p0.max_size">100</prop>
             	<prop key="user">${jdbc.username}</prop>
            	<prop key="password">${jdbc.password}</prop>
        </props>   
      </property>   
    </bean>   	
-->

	
	
</beans>