<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
       default-lazy-init="true">

<bean id="orderService" class="com.skyteam.ced.service.impl.OrderServiceImpl">
	<property name="employeeManager"><ref bean="employeeManager"/></property>
</bean>

<bean id="baseQueryEntry" class="com.skyteam.ced.business.query.impl.BaseQueryEntryImpl" abstract="true">
		<property name="queryDaoFactory"><ref bean="queryDaoFactory"/></property>
</bean>

<bean id="employeeQueryEntry" parent="baseQueryEntry" class="com.skyteam.ced.business.query.impl.EmployeeQueryEntryImpl">
		<property name="employeeManager"><ref bean="employeeManager"/></property>
</bean>

<bean id="queryFactory" class="com.skyteam.ced.service.impl.QueryFactoryImpl">
	<property name="beans">
		<map>
			<entry key="employeeQueryEntry"><ref bean="employeeQueryEntry"/></entry>
		</map>
	</property>
</bean>
</beans>